#chatbot-button {
  position: fixed;
  background-color: teal;
  bottom: 16px;
  right: 16px;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 3px 1px grey;
  transition-duration: 0.25s;
}

#chatbot-button:hover {
  cursor: pointer;
  box-shadow: 0px 0px 6px 2px grey;
}

#chatbot-chat {
  position: fixed;
  bottom: 80px;
  right: 16px;
  max-height: 10rem;
  min-width: 14rem;
  max-width: 30rem;
  box-shadow: 0px 0px 2px 1px grey;
  transition-duration: 0.25s;
  border-radius: 8px;
}

#chatbot-icon {
  width: 24px;
  height: 24px;
  fill: white;
}

#chatbot-user-input {
  background: inherit;
  width: inherit;
}

.chatbot-visibility-hidden {
  opacity: 0;
}

.chatbot-visibility-visible {
  opacity: 1;
}
